@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antic Didone", serif;
}
body{
    background-color: black;
    color: white;
}